In [182]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: MacOSX

In [176]:
data = pd.read_csv('data/owid-covid.csv', encoding='utf-8')
#data.head()

target = ['iso_code','date','total_cases','new_cases','total_deaths','new_deaths','total_tests','new_tests','tests_units']
targetdata = data[target]
#targetdata.head()

loc = targetdata['iso_code'] == "KOR"
#targetdata[loc].head()

korea = targetdata[loc]
#korea.head()

korea.to_csv('data/kor_covid.csv',encoding='utf-8',index=False)

In [177]:
data = pd.read_csv('data/kor_covid.csv')
data.head()

,iso_code,date,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,tests_units
0,KOR,2019.12.31,0,0,0,0,NaN,NaN,NaN
1,KOR,2020.1.1,0,0,0,0,NaN,NaN,NaN
2,KOR,2020.1.2,0,0,0,0,NaN,NaN,NaN
3,KOR,2020.1.3,0,0,0,0,NaN,NaN,NaN
4,KOR,2020.1.4,0,0,0,0,NaN,NaN,NaN