## 1. 대학 데이터셋을 사용해 소수 인종이 다수인 주 찾기

In [1]:
import pandas as pd
import numpy as np

In [2]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [3]:
grouped = college.groupby('STABBR')

In [4]:
def check_m(df, threshold):
    m_pct = 1 - df['UGDS_WHITE']  # 백인 학생이 아닌 학생 비율
    total_m = (df['UGDS'] * m_pct).sum()  # 백인아닌 학생 수
    total_ugds = df['UGDS'].sum()  # 전체 학생 수
    total_m_pct = total_m / total_ugds  # 백인아닌 학생 비율
    return total_m_pct > threshold

In [5]:
c_filter = grouped.filter(check_m, threshold=0.5)
c_filter.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Everest College-Phoenix,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,4102.0,...,0.0373,0.0,0.1026,0.4749,0,0.8291,0.7151,0.6700,28600,9500
Collins College,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,83.0,...,0.0241,0.0,0.3855,0.3373,0,0.7205,0.8228,0.4764,25700,47000
Empire Beauty School-Paradise Valley,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,25.0,...,0.0400,0.0,0.0000,0.1600,0,0.6349,0.5873,0.4651,17800,9588
Empire Beauty School-Tucson,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,126.0,...,0.0000,0.0,0.0079,0.2222,1,0.7962,0.6615,0.4229,18200,9833
Thunderbird School of Global Management,Glendale,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,1.0,...,0.0000,0.0,0.0000,1.0000,0,0.0000,0.0000,0.0000,118900,PrivacySuppressed

In [6]:
college.shape

(7535, 26)

In [7]:
c_filter.shape

(3028, 26)

In [8]:
c_filter['STABBR'].nunique()

20

## 2. 체중 감량 내기의 승자 찾기

In [9]:
weight_loss = pd.read_csv('data/weight_loss.csv')
weight_loss.head()

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
1  Amy   Jan  Week 1     197
2  Bob   Jan  Week 2     288
3  Amy   Jan  Week 2     189
4  Bob   Jan  Week 3     283

In [10]:
weight_loss.query("Month == 'Jan'")

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
1  Amy   Jan  Week 1     197
2  Bob   Jan  Week 2     288
3  Amy   Jan  Week 2     189
4  Bob   Jan  Week 3     283
5  Amy   Jan  Week 3     189
6  Bob   Jan  Week 4     283
7  Amy   Jan  Week 4     190

In [ ]:
# 무게감량 구하기
# (현재무게 - 처음무게)/처음무게
def find_perc_loss(s):
    return (s - s.iloc[0]) / s.iloc[0]

In [ ]:
bob_jan = weight_loss.query("Name=='Bob' and Month=='Jan'")
bob_jan.head()

In [ ]:
bob_jan['Weight'].iloc[0]

In [ ]:
(bob_jan['Weight'] - bob_jan['Weight'].iloc[0])/bob_jan['Weight'].iloc[0]

In [ ]:
find_perc_loss(bob_jan['Weight'])

In [ ]:
pcnt_loss = weight_loss.groupby(['Name','Month'])['Weight'].transform(find_perc_loss)
pcnt_loss.head()

In [ ]:
weight_loss['Perc Weight Loss'] = pcnt_loss

In [ ]:
weight_loss.head()

In [ ]:
weight_loss.query("Name=='Bob' and Month in ['Jan','Feb']")

In [ ]:
week4 = weight_loss.query('Week == "Week 4"')
week4

In [ ]:
winner = week4.pivot(index='Month', columns='Name', values='Perc Weight Loss')
winner

In [ ]:
# np.where :  조건에 맞는 값을 특정 다른 값으로 변환하기
# np.where(조건, 조건에 맞을 때 값, 조건과 다를 때 값)
x = np.array([5, 4, 3, 2, 1, 0])
np.where(x >= 3, 3, x)

In [ ]:
winner['Winner'] = np.where(winner['Amy']<winner['Bob'], 'Amy','Bob')

In [ ]:
winner['Winner']

In [ ]:
winner.style.highlight_min(axis=1)

In [ ]:
winner.Winner.value_counts()

## 3. 주별 가중 평균 SAT 점수 계산

In [ ]:
college.head()

In [ ]:
# 아래에서 5개 볼때
college.tail()

In [ ]:
subset = ['UGDS', 'SATMTMID']
college2 = college.dropna(subset=subset)

In [ ]:
college2.tail()

In [ ]:
college.shape, college2.shape

In [ ]:
# UGDS : 학부생 수, SATMTMID : SAT 수학 점수 중앙값
def weight_math_average(df): # 수학평균
    weight_math = df['UGDS'] * df['SATMTMID']
    return int(weight_math.sum() / df['UGDS'].sum())

In [ ]:
# STABBR : 대학이 위치한 주(state)명
# apply :  각 열(또는 행)을 반복하여 함수를 적용
college.groupby('STABBR').apply(weight_math_average).head()

# 객체 합치기

## 1. concat

### 1.1. Multiple Data Loading

In [ ]:
df1 = pd.read_csv('data/stocks_2016.csv')
df1

In [ ]:
df2 = pd.read_csv('data/stocks_2017.csv')
df2

In [ ]:
df3 = pd.read_csv('data/stocks_2018.csv')
df3

In [ ]:
years = 2016, 2017, 2018
type(years)

In [ ]:
stock_tables = [pd.read_csv('data/stocks_{}.csv'.format(year), index_col='Symbol') for year in years]
stock_tables

In [ ]:
s_2016, s_2017, s_2018 = stock_tables
s_2017

### 1.2. 수직 병합

In [ ]:
pd.concat(stock_tables)

In [ ]:
pd.concat(stock_tables, keys=[2016, 2017, 2018])

### 1.3. 수평 병합

In [ ]:
pd.concat(stock_tables, axis='columns')

In [ ]:
# zip 함수는 동일한 갯수의 요소값을 갖는 시퀀스 자료형을 묶어주는 역할
a = [1,2,3,4,5]
b = ['a','b','c','d','e']
 
for x,y in zip (a,b):
  print (x,y)

In [ ]:
pd.concat(dict(zip(years,stock_tables)), axis='columns')

## 2. join

In [ ]:
# lsuffix : 왼쪽 프레임의 겹치는 열에서 사용할 접미어입니다.
# rsuffix : 오른쪽 프레임의 겹치는 열에서 사용할 접미어입니다.
s_2016.join(s_2017, lsuffix='_2016', rsuffix='_2017')

In [ ]:
s_2016.join(s_2017, lsuffix='_2016', rsuffix='_2017', how='outer')

In [ ]:
s_2017.add_suffix('_2017')

In [ ]:
other = [s_2017.add_suffix('_2017'), s_2018.add_suffix('_2018')]
s_2016.add_suffix('_2016').join(other, how='outer')

## 3. Merge

In [ ]:
s_2016

In [ ]:
s_2017

In [ ]:
s_2016.merge(s_2017, left_index=True, right_index=True)

In [ ]:
step1 = s_2016.merge(s_2017, left_index=True, right_index=True, how='outer', suffixes=('_2016','_2017'))
step1

In [ ]:
s_merge = step1.merge(s_2018.add_suffix('_2018'), left_index=True, right_index=True, how='outer')
s_merge

## 4. 병합의 활용

In [ ]:
names = ['prices', 'transactions']
food_tables = [pd.read_csv('data/food_{}.csv'.format(name)) for name in names]
food_prices, food_tr = food_tables

In [ ]:
food_prices

In [ ]:
food_tr

In [ ]:
food_tr.merge(food_prices, on=['item','store'])

In [ ]:
food_tr.merge(food_prices.query('Date==2017'), how='left')

In [ ]:
f_join = food_prices.query('Date==2017').set_index(['item','store'])

In [ ]:
food_tr.join(f_join, on=['item','store'])

In [ ]:
pd.concat([food_tr.set_index(['item','store']), food_prices.set_index(['item','store'])], axis='columns')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid', palette='muted')
%matplotlib inline

In [ ]:
data = pd.read_csv('data/breast_cancer.csv')

**데이터 확인**

In [ ]:
data.head()

In [ ]:
data.info()

- ID는 분석대상이 아님
- 목표변수: Diagnosis
- Unnamed: 32 열은 모두 NULL값이므로 제거가 필요

**필요 없는 변수 제거 및 x, y 분할**

In [ ]:
col = data.columns
col

In [ ]:
del_col = ['Unnamed: 32', 'id', 'diagnosis']
y = data.diagnosis
x = data.drop(del_col, axis=1)
x.head()

**데이터 살펴보기**

In [ ]:
ax = sns.countplot(y, label='count')
B, M = y.value_counts()
print('양성 :', B)
print('음성 :', M)

In [ ]:
x.describe()

In [ ]:
#!pip install pandas_profiling
import pandas_profiling as pp

In [ ]:
pp.ProfileReport(data)

**데이터 시각화-1 : Violinplot**

In [ ]:
# 확률밀도를 Plotting 하고 중앙의 BoxPlot을 통해 최소값, 25%, 50% 분위, 75% 분위, 최대값
# 을 그려줌으로써 각 데이터 특성을 잘 표현해 준다. 데이터 그룹들 간의 비교를 시각적으로
# 보여준다.
sns.set(style='whitegrid', palette='muted')
graph_data = (x - x.mean()) / (x.std())
graph_data = pd.concat([y, graph_data.iloc[:,0:10]], axis=1)
graph_data = pd.melt(graph_data, id_vars='diagnosis',var_name='features', value_name='value')
plt.figure(figsize=(10,10))
sns.violinplot(x='features', y='value', hue='diagnosis', data=graph_data, split=True, inner='quart')
plt.xticks(rotation=90);

**데이터 시각화-2 : Box Plot**

In [ ]:
graph_data = (x - x.mean()) / (x.std())
graph_data = pd.concat([y, graph_data.iloc[:,20:31]], axis=1)
graph_data = pd.melt(graph_data, id_vars='diagnosis',var_name='features', value_name='value')
plt.figure(figsize=(10,10))
sns.boxplot(x='features', y='value', hue='diagnosis', data=graph_data)
plt.xticks(rotation=90);

**데이터 시각화-3 : Swarm Plot**

In [ ]:
plt.figure(figsize=(10,10))
sns.swarmplot(x='features', y='value', hue='diagnosis', data=graph_data)
plt.xticks(rotation=90);

**변수간 상관관계 파악 1 - 두변수간 상관 관계**

In [ ]:
sns.jointplot(x.loc[:, 'concavity_worst'], x.loc[:, 'concave points_worst'], kind='regg');

**변수간 상관관계 파악 2 - 세 변수 이상 상관 관계**

In [ ]:
df = x.loc[:, ['radius_worst','perimeter_worst','area_worst']]
g = sns.PairGrid(df, diag_sharey=False)
g.map_lower(sns.kdeplot)
g.map_upper(plt.scatter)
g.map_diag(sns.kdeplot);

**변수간 상관관계 파악 3 - HeatMap**

In [ ]:
plt.figure(figsize=(18,18))
sns.heatmap(x.corr(), annot=True, linewidth=.5, fmt='.1f');