## 문자열 구간 지정

In [4]:
txt1 = 'A table that was not right'
txt2 = '이 또한 지나가리라'
print(txt1[3:7])  # 3 이상 7 미만까지 출력
print(txt1[:6])  # 0 이상 6 미만
print(txt2[-4:])  # -4 이상부터

able
A tabl
나가리라

## 홀수번째 문자만 출력

In [10]:
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[::2]  # 0번째부터 두칸마다 출력 = 소문자만
ret1 = txt[1::2]  # 1번재부터 두칸마다 = 대문자만
print(ret)
print(ret1)

abcdefghijk
ABCDEFGHIJK

## 문자열 거꾸로 만들기

In [3]:
txt = 'abcdefghijk'
ret = txt[::-1]
print(ret)

kjihgfedcba

## 문자열 대소문자 변환

In [14]:
txt = 'A lot of Things occur each day.'
ret1 = txt.upper()  # 전체를 대문자로 변환
ret2 = txt.lower()  # 전체를 소문자로 변환
print(ret1, ret2)

A LOT OF THINGS OCCUR EACH DAY. a lot of things occur each day.

## 문자열 좌우 공백 제거

In [19]:
txt = '     양쪽에 공백이 있다.      '
print('<'+ txt +'>')
print('<'+ txt.lstrip() +'>')
print('<'+ txt.rstrip() +'>')
print('<'+ txt.strip() +'>')

<     양쪽에 공백이 있다.      >
<양쪽에 공백이 있다.      >
<     양쪽에 공백이 있다.>
<양쪽에 공백이 있다.>

## 문자열 개수 구하기

In [9]:
txt = 'A lot of Things Occur Each Day, Every Day.'
word_count1 = txt.count('o'); word_count2 = txt.count(' '); word_count3 = txt.count('T')
print(word_count1, word_count2, word_count3)

2 8 1

## 문자열 분리(split)

In [3]:
url = 'http://www.naver.com/news/today=20200331'; log = 'name:홍길동 age:17 sex:남성 nation:헬조선';
ret1 = url.split('/')
print(ret1)

ret2 = log.split()  # 괄호안에 빈칸이면 공백기준으로 잘림
print(ret2)  # 변수 log 안에 들어있는 문자열이 공백 기준으로 잘려서 총 4개가 리스트 형태로 배열 됨

# ret2 name -> 홍길동
for stat in ret2:
    status = stat.split(':')
    print(status)  # 각각의 리스트들이 ':'기준으로 다시 잘려 총 2개가 배열된 리스트 4개가 출력 됨
    
for stat in ret2:
    s1,s2 = stat.split(':')
    print('%s -> %s' %(s1,s2))

['http:', '', 'www.naver.com', 'news', 'today=20200331']
['name:홍길동', 'age:17', 'sex:남성', 'nation:헬조선']
['name', '홍길동']
['age', '17']
['sex', '남성']
['nation', '헬조선']
name -> 홍길동
age -> 17
sex -> 남성
nation -> 헬조선

## 문자열 결합(join)

In [34]:
loglist = ['2020/03/31 11:38:10', '200', 'ok', '이 또한 지나가리라']
bond = '||'
print(bond.join(loglist))

2020/03/31 11:38:10||200||ok||이 또한 지나가리라

## 문자열 바꾸기(replace)

In [8]:
txt = 'My Passward is second right finger'
print(txt.replace('second', '2nd'))
print(txt.replace('right', 'R'))

txt = '매일 많은 일들이 일어납니다.'
print(txt.replace('매일', '항상'))
print(txt.replace('일들', '사건'))

My Passward is 2nd right finger
My Passward is second R finger
항상 많은 일들이 일어납니다.
매일 많은 사건이 일어납니다.

## 문자열 정렬

In [14]:
strdata = input('정렬할 문자열을 입력하세요:')
print(strdata)
print(sorted(strdata))
print(sorted(strdata, reverse=True))
ret1 = ''.join(sorted(strdata))
ret2 = ''.join(sorted(strdata, reverse=True))
print('오름차순으로 정렬된 문자열은 <'+ ret1 +'> 입니다.')
print('내림차순으로 정렬된 문자열은 <'+ ret2 +'> 입니다.')

정렬할 문자열을 입력하세요: ㅎㄱㅇㅅ

ㅎㄱㅇㅅ
['ㄱ', 'ㅅ', 'ㅇ', 'ㅎ']
['ㅎ', 'ㅇ', 'ㅅ', 'ㄱ']
오름차순으로 정렬된 문자열은 <ㄱㅅㅇㅎ> 입니다.
내림차순으로 정렬된 문자열은 <ㅎㅇㅅㄱ> 입니다.

## 문자열 포맷팅

In [23]:
# %s 문자열에 대응
# %c 문자나 기호 한개에 대응
# %f 실수에 대응
# %d 정수에 대응
# %% 퍼센트 기호 자체를 의미

txt1 = '자바'; txt2 = '파이썬'
num1 = 5; num2 = 10
print('나는 %s보다 %s에 더 익숙합니다.' %(txt1, txt2))
print('%d는 %d보다 큰 정수입니다.' %(num1, num2))
print('%s은 %s보다 %d배 더 쉽습니다.' %(txt2, txt1, num1))  # 파이썬은 자바보다 5 배 더 쉽습니다.
print('%d + %d = %d' %(num1, num2, num1 + num2))  # 5 + 10 = 15
print('작년 세계 경제 성장률은 전년에 비해 %d%% 증가했다.' %(num1))  # 작년 세계 경제 성장률은 전년에 비해 5% 증가했다.

나는 자바보다 파이썬에 더 익숙합니다.
5는 10보다 큰 정수입니다.
파이썬은 자바보다 5배 더 쉽습니다.
5 + 10 = 15
작년 세계 경제 성장률은 전년에 비해 5% 증가했다.

In [14]:
from time import sleep

for i in range(1,101):
    msg = '\r진행률 %d%%' %(100-i)  # \r 줄의 맨처음
    print(' '*len(msg), end='')  # msg 길이만큼 공백묹바를 줄바꿈없이 화면에 출력
    print(msg, end='')
    sleep(0.1)

진행률 0%

## 이스케이프 문자

In [21]:
# \n 줄바꾸기
# \t 탭
print('나는 파이썬을 사랑합니다. \n파이썬은 자바보다 쉽습니다.')
print('Name: John smith\tSex: Male\tAge: 22')
print('이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다. \
그래서 \\enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.')
print('작은 따옴표(\')와 큰 따옴표(")는 문자열을 정의할 때 사용합니다.')

나는 파이썬을 사랑합니다.
파이썬은 자바보다 쉽습니다.
Name: John smith	Sex: Male	Age: 22
이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다. 그래서 \enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.
작은 따옴표(')와 큰 따옴표(")는 문자열을 정의할 때 사용합니다.

## 리스트와 튜플

In [151]:
# 리스트
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c']
list3 = [1, 'a', 'abc', [1,2,3,4,5], ['a','b','c']]
list3[4][0] = 6
print(list3)
print(5 in list3)    # 리스트 안의 리스트에 있는 값을 확인하려면
print(5 in list3[3]) # 해당 리스트의 인덱스 번호를 한번 더 지정 해줘야 한다.

def myfunc():
    print('안녕하세요')
list4 = [1,2,myfunc]
list4[2]()

# 튜플
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])
#tuple1[0] = 6   # 변조가 안됨 -> 보인 좋음 -> 고정된 값 설정
#print(tuple1)
print(1 in tuple1)

[1, 'a', 'abc', [1, 2, 3, 4, 5], [6, 'b', 'c']]
False
True
안녕하세요
True

In [30]:
def myfunc():
    print('안녕하세요')
tuple4 = ([1,2,myfunc],2)
tuple4[0][2]()

안녕하세요

## 사전

In [15]:
dict1 = {'a':1,'b':2,'c':3}
print(dict1['a'])

dict1['d'] = 4  # 사전안에 새로운 정의를 추가
print(dict1)

dict1['b'] = 7
print(dict1)
print(len(dict1))  # 사전안에 들어 있는 요소 수를 정수 길이로 표현

1
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 7, 'c': 3, 'd': 4}
4

## 함수

In [35]:
def add_number(n1,n2):
    ret=n1+n2
    return ret
def add_txt(t1,t2):
    print(t1+t2)

print(add_number(1,3))
add_txt('대한민국','최고')

4
대한민국최고

In [37]:
# 태극 모양을 그리는 프로그램

def taegeuk(n1,n2,n3,n4,n5):
    t.bgcolor(n5)
    t.speed(0)
    for x in range(n1):
        if x % 3 == 0:
            t.color(n2)
        if x % 3 == 1:
            t.color(n3)
        if x % 3 == 2:
            t.color(n4)
        t.forward(x * 2)  # x*2 만큼 앞으로 이동(반복하면서 선이 점점 길어진다.)
        t.left(119)  # 거북이 119도 왼쪽 회전

In [38]:
taegeuk(400,'red','yellow','blue','black')

In [36]:
import turtle as t
t.shape("turtle")

## 전역 변수와 지역변수

In [51]:
param = 10
strdata = '전역변수'

def func1():
    strdata = '지역변수'
    print(strdata)
    
def func2(param):
    param = 1
    print(param)
    
def func3():
    global param
    param = 50
    print(param)

In [55]:
func1()
print(strdata)
print(param)

지역변수
전역변수
50

In [46]:
func2(param)
print(param)

1
10

In [54]:
print(param)

50

## 리스트
### 순차적인 정수 리스트

In [9]:
range1 = range(10)
print(list(range1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
range2 = range(10, 20)
print(list(range2))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [56]:
range3 = range(10, 21, 2)
print(list(range3))

[10, 12, 14, 16, 18, 20]

## 리스트에서 특정 위치 요소 얻기

In [19]:
listdata = [1,2,'a','b','c',[4,5,6]]
val1 = listdata[1]
val2 = listdata[3]
val3 = listdata[5][1]
print(val1)
print(val2)
print(val3)

2
b
5

## 특정요소의 위치 구하기(index)

In [66]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']
planet = '지구'
pos = solarsys.index(planet)
print('%s는 리스트안에서 %d번째에 위치하고 있습니다.' %(planet,pos+1))
pos = solarsys.index(planet, 4)
print('%s는 리스트안에서 %d번째에 위치하고 있습니다.' %(planet,pos+1))

지구는 리스트안에서 4번째에 위치하고 있습니다.
지구는 리스트안에서 10번째에 위치하고 있습니다.

## 특정위치 요소 변경

In [36]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
planet = '화성'
pos = solarsys.index(planet)
print(pos)
solarsys[pos] = 'Mars'
print(solarsys)

4
['태양', '수성', '금성', '지구', 'Mars', '목성', '토성', '천왕성', '해왕성']

## 특정구간 요소 추출

In [42]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
rock_planets = solarsys[1:5]
gas_planets = solarsys[5:]
print('태양계의 암석형 행성: ', end=''); print(rock_planets)
print('태양계의 가스형 행성: ', end=''); print(gas_planets)

태양계의 암석형 행성: ['수성', '금성', '지구', '화성']
태양계의 가스형 행성: ['목성', '토성', '천왕성', '해왕성']

In [71]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
rock_planets = solarsys[1:5]
gas_planets = solarsys[5:]
print('태양계의 암석형 행성: %s' %rock_planets)
print('태양계의 가스형 행성: %s' %gas_planets)

태양계의 암석형 행성: ['수성', '금성', '지구', '화성']
태양계의 가스형 행성: ['목성', '토성', '천왕성', '해왕성']

## 짝수 번째 요소만 추출

In [58]:
listdata = list(range(2,21,2))
print(listdata)
listdata = list(range(1,21))
print(listdata[1::2])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## 요소 추가(append)

In [77]:
listdata = []
for x in range(3):
    txt = input('리스트에 추가할 값을 입력하세요[%d/3]: ' %(x+1))
    listdata.append(txt)
    bond = ' '
    print(bond.join(listdata))

리스트에 추가할 값을 입력하세요[1/3]:  i

i

리스트에 추가할 값을 입력하세요[2/3]:  love

i love

리스트에 추가할 값을 입력하세요[3/3]:  you

i love you

## 특정위치 요소 삽입(insert)

In [82]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
pos = solarsys.index('목성')
print(pos)
solarsys.insert(pos,'소행성')
print(solarsys)

5
['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

## 특정위치 요소 제거(del)

In [129]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
append = solarsys[4]
append1 = solarsys[5]
append2 = solarsys[6]
append3 = solarsys[7]
append4 = solarsys[8]
del solarsys[0]
print(solarsys)
del solarsys[-2]
print(solarsys)
solarsys.insert(0,'태양')
print(solarsys)
solarsys.insert(-1,'천왕성')
print(solarsys)
del solarsys[4:]
print(solarsys)
solarsys.append(append)
solarsys.append(append1)
solarsys.append(append2)
solarsys.append(append3)
solarsys.append(append4)
print(solarsys)
solarsys.clear()
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['수성', '금성', '지구', '화성', '목성', '토성', '해왕성']
['태양', '수성', '금성', '지구', '화성', '목성', '토성', '해왕성']
['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['태양', '수성', '금성', '지구']
['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
[]

In [131]:
solarsys = ('태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성')
solarsys.clear()
print(solarsys)

AttributeError: 'tuple' object has no attribute 'clear'

## 특정 요소 제거(remove)

In [117]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
solarsys.remove('태양')  # 리스트 안에 있는 값의 이름을 1개 지정하여 삭제
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

## 특정구간 요소 제거(del)

In [118]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
del solarsys[::2] # del solarsys[:9:2] or del solarsys[0:9:2] 와 모두 같음
print(solarsys)

['수성', '지구', '목성', '천왕성']

In [83]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
del solarsys[0:6]
print(solarsys)

['토성', '천왕성', '해왕성']

## 리스트 제거

In [82]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
del solarsys
print(solarsys)

NameError: name 'solarsys' is not defined

## 정렬(sort)

#### 딕셔너리는 dict.sort() 형태는 불가능 -> 변수 = sorted(dict) 형태만 가능

In [127]:
# 정렬 1
namelist = ['Mary','Sams','Aimy','Tom','Michale','Bob','Kelly']
namelist.sort()
print(namelist)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']

In [128]:
# 정렬 2
namelist = ['Mary','Sams','Aimy','Tom','Michale','Bob','Kelly']
namelist.sort(reverse=True)
print(namelist)

['Tom', 'Sams', 'Michale', 'Mary', 'Kelly', 'Bob', 'Aimy']

In [124]:
# 정렬 3
namelist = ['Mary','Sams','Aimy','Tom','Michale','Bob','Kelly']
print(sorted(namelist))

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']

In [88]:
# 정렬 4
namelist = ['Mary','Sams','Aimy','Tom','Michale','Bob','Kelly']
print(sorted(namelist, reverse=True))

['Tom', 'Sams', 'Michale', 'Mary', 'Kelly', 'Bob', 'Aimy']

In [98]:
# 섞기(shuffle)
from random import shuffle

listdata = list(range(1,11))
print(listdata)
for x in range(3):
    shuffle(listdata)
    print(listdata)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 5, 6, 3, 9, 8, 1, 7, 4, 10]
[4, 3, 8, 1, 7, 5, 2, 10, 9, 6]
[10, 1, 8, 6, 9, 3, 7, 2, 4, 5]