# 내장 자료구조, 함수, 파일

## 튜플

In [172]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={2}, b={0}, c={1}'.format(a,b,c))

a=3, b=1, c=2
a=6, b=4, c=5
a=9, b=7, c=8

### 튜플에서 값을 분리할 때 필요한 것과 필요없는 것을 구분하여 분리하기

In [184]:
values = 1,2,3,4,5
a,b,*rest = values
a,b,rest

(1, 2, [3, 4, 5])

In [179]:
rest, type(rest)

([3, 4, 5], list)

In [187]:
a,b,*_ = values

In [191]:
a,b,*trash = values
trash

[3, 4, 5]

In [195]:
tuple([4,5,6]), (4,5,6), 4,5,6

((4, 5, 6), (4, 5, 6), 4, 5, 6)

## 리스트

### 리스트 이어 붙이기(append, extend)
- append 는 리스트의 가장 뒤쪽에서부터 채워짐
- list1 = [[1,2,3]], list2 = [[4,5,6]]
- list1 + list2 = [[1,2,3,4,5,6]] == list1.extend(list2) = [[1,2,3,4,5,6]]

In [32]:
import time

list_of_lists = [['hi','hello'],['a','b'],['c','d','e']]
everything = []
start = time.time()
for chunk in list_of_lists:
    everything.extend(chunk)
print(everything)
print(time.time() - start)

list_of_lists = [['hi','hello'],['a','b'],['c','d','e']]
everything = []
start = time.time()
for chunk in list_of_lists:
    everything.append(chunk)
print(everything)
print(time.time() - start)

['hi', 'hello', 'a', 'b', 'c', 'd', 'e']
0.00036787986755371094
[['hi', 'hello'], ['a', 'b'], ['c', 'd', 'e']]
0.00018787384033203125

### 데이터 정렬

In [232]:
a = [7,2,5,1,3]
a.sort()
a

[1, 2, 3, 5, 7]

In [258]:
import bisect
c = [1,2,2,2,3,4,7]

In [268]:
bisect.bisect(c, 8)

7

In [257]:
bisect.insort(c, 8)
c

[1, 2, 2, 2, 3, 4, 5, 5, 6, 7, 8]

In [276]:
## zip 합수는 여러 개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어서 튜플의 리스트를 생성한다.
seq1 = ['foo','bar','baz']
seq2 = ['one','two','three']
zipped = zip(seq1,seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [281]:
for a,b in zip(seq1,seq2):
    print(a)
    print(b)

foo
one
bar
two
baz
three

In [286]:
for i, (a,b) in enumerate(zip(seq1,seq2)):
    print(i,':',a+',',b)

0 : foo, one
1 : bar, two
2 : baz, three

In [292]:
list(range(10,-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [293]:
list(reversed(range(11)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [4]:
words = ['apple','bat','bar','atom','book']
by_letter = {}

for word in words:
    letter = word[0]
    #print(letter)
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [5]:
words = ['apple','bat','bar','atom','book']
by_letter = {}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [12]:
from collections import defaultdict
words = ['apple','bat','bar','atom','book']
by_letter = defaultdict(list)
print(by_letter)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(<class 'list'>, {})

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [16]:
hash('string')

-3101379231150715185

In [18]:
hash((1,2,(2,3)))

1097636502276347782

In [19]:
hash((1,2,[2,3]))

TypeError: unhashable type: 'list'

In [27]:
d = {}
d[tuple([1,2,3])] = 4
d

{(1, 2, 3): 4}

## 집합(합집합, 교집합, 차집합, 대칭차집합)
- set 함수 또는 중괄호{}를 이용하여 생성할 수 있음

### 합집합

In [40]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [3]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
a |= b
a

{1, 2, 3, 4, 5, 6, 7, 8}

### 교집합

In [46]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [5]:
a.intersection(b)

{3, 4, 5}

In [6]:
a & b

{3, 4, 5}

In [45]:
a.intersection_update(b)
a

{3, 4, 5}

In [47]:
a &= b
a

{3, 4, 5}

### 차집합

In [51]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [7]:
a.difference(b)

{1, 2}

In [9]:
a - b

{1, 2}

In [50]:
a.difference_update(b)
a

{1, 2}

In [52]:
a -= b
a

{1, 2}

#### 무엇의 차집합이냐에 따라 결과가 달라짐

In [8]:
b.difference(a)

{6, 7, 8}

In [10]:
b - a

{6, 7, 8}

### 대칭 차집합

In [59]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [56]:
a.symmetric_difference(b)

{1, 2, 6, 7, 8}

In [57]:
a ^ b

{1, 2, 6, 7, 8}

In [58]:
a.symmetric_difference_update(b)
a

{1, 2, 6, 7, 8}

In [60]:
a ^= b
a

{1, 2, 6, 7, 8}

In [ ]:
#### 그 외 파이썬 집합 메서드
함수                    대체 문법                   설명
a.add(x)               없음                        a에 원소 x를 추가한다.
a.clear()              없음                        모든 원소를 제거하고 빈 상태로 되돌린다.
a.remove(x)            없음                        a에서 원소 x를 제거한다.
a.pop()                없음                        a에서 임의의 원소를 제거한다. 비어 있는 경우 KeyError를 발생
a.issubset(b)          없음                        a의 모든 원소가 b에 속할 경우 True
a.issuperset(b)        없음                        a가 b의 모든 원소를 포함할 경우 True
a.isdisjoint(b)        없음                        a와 b 모두에 속하는 원소가 없을 경우 True

In [75]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [15]:
a.add(6)
a

{1, 2, 3, 4, 5, 6}

In [16]:
a.remove(6)
a

{1, 2, 3, 4, 5}

In [33]:
a.clear()
a

set()

In [62]:
a.issubset(b)

False

In [69]:
b.add(1)
b.add(2)
b

{1, 2, 3, 4, 5, 6, 7, 8}

In [70]:
a.issubset(b)

True

In [72]:
a.issuperset(b)

False

In [76]:
a -= b
print(a,b,a.isdisjoint(b))

{1, 2} {3, 4, 5, 6, 7, 8} True

## 리스트, 집합, 사전 표기법

In [80]:
## 리스트 표기법 기본 형식
# [expr for val in collection if condition]
## 이를 반복문으로 구현하면
# result = []
# for val in collection:
#     if condition:
#         result.append(expr)

In [81]:
strings = ['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x) > 2]
# strings 리스트안에 문자열 중 길이가 2보다 큰 문자열들을 대문자로 바꾼다.

['BAT', 'CAR', 'DOVE', 'PYTHON']