## korea-covid-daily situation update(started:04.30)

In [2]:
%run ../../ML.library-1.0.0.ipynb

import pandas as pd

table1 = web_crawling('http://ncov.mohw.go.kr/bdBoardList_Real.do?brdId=1&brdGubun=13&ncvContSeq=&contSeq=&board_id=&gubun=',
                      'attr','div','class','data_table',0)

kor_df = make_table(table1,2,21,1)
#kor_df.head()

kor_df = kor_df.rename(columns={'발생률 (*)':'발생률'})
#kor_df.head()

for k in range(19):
    kor_df['확진환자'][k] = kor_df['확진환자'][k].replace(',','')
    kor_df['격리중'][k] = kor_df['격리중'][k].replace(',','')
    kor_df['격리해제'][k] = kor_df['격리해제'][k].replace(',','')
    kor_df['발생률'][k] = kor_df['발생률'][k].replace('-','')
#kor_df.head()

con = ['합계','해외유입','확진환자','격리중','격리해제','사망자']
cat = ['시도명','발생률']
kor_df[con] = kor_df[con].astype('int')
kor_df[cat] = kor_df[cat].astype('category')

#kor_df.info()

kor_df.to_csv('data/kor_corona_status_0430.csv', index=False)
kor = pd.read_csv('data/kor_corona_status_0430.csv')
#kor

table2 = web_crawling('http://www.seoul.go.kr/coronaV/coronaStatus.do',
                       'attr','table','class','tstyle05',0)

seoul_df = make_table(table2,1,2,0)
#seoul_df

seoul_df = seoul_df.astype('int')

seoul_df.to_csv('data/seoul_corona_status_0430.csv',index=False)
seoul = pd.read_csv('data/seoul_corona_status_0430.csv')
#seoul

display(kor)
display(seoul)

   시도명  합계  해외유입  국내발생   확진환자  격리중   격리해제  사망자     발생률
0   합계  26    22     4  13771  903  12572  296   26.56
1   서울   3     1     2   1477  145   1322   10   15.17
2   부산   0     0     0    157    5    149    3    4.60
3   대구   2     2     0   6934   16   6728  190  284.59
4   인천   2     2     0    372   22    348    2   12.58
5   광주   1     0     1    187   96     89    2   12.84
6   대전   0     0     0    166   53    111    2   11.26
7   울산   0     0     0     57    3     53    1    4.97
8   세종   0     0     0     50    0     50    0   14.61
9   경기   1     1     0   1434  189   1216   29   10.82
10  강원   0     0     0     72   11     58    3    4.67
11  충북   0     0     0     71    7     64    0    4.44
12  충남   1     1     0    186   16    170    0    8.76
13  전북   1     1     0     39   15     24    0    2.15
14  전남   2     1     1     35   14     21    0    1.88
15  경북   1     1     0   1394    4   1336   54   52.36
16  경남   2     2     0    155   16    139    0    4.61
17  제주   0     0     0     25    7     18    0    3.73
18  검역  10    10     0    960  284    676    0     NaN

,소계,해외접촉관련,중구한화생명관련,강남구V빌딩관련,관악구사무실관련,강남구역삼동모임,도봉구요양시설관련,리치웨이관련,부천시쿠팡관련,수도권개척교회관련,양천구운동시설관련,이태원클럽관련,구로구콜센터관련,타 시·도확진자접촉자,기타,경로확인중
0,1449,323,5,8,6,13,43,122,24,37,43,139,98,51,393,142