In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ch02-data.csv')
data['amount_x_2'] = data['ammount']*2
data.to_csv('ch02-data_more.csv')

In [5]:
data.head()

          day  ammount  amount_x_2
0  2013-01-24      323         646
1  2013-01-25      233         466
2  2013-01-26      433         866
3  2013-01-27      555        1110
4  2013-01-28      123         246

In [4]:
print(data.ammount)

0    323
1    233
2    433
3    555
4    123
5      0
6    221
Name: ammount, dtype: int64

In [9]:
pd.read_csv('ch02-data.tab', skiprows=1, delimiter=' *', names=['day','amount'])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

                                   day  amount
NaN 2 0 1 3 - 0 1 - 2 4 NaN 3 2.0  3.0     NaN
                      5 NaN 2 3.0  3.0     NaN
                      6 NaN 4 3.0  3.0     NaN
                      7 NaN 5 5.0  5.0     NaN
                      8 NaN 1 2.0  3.0     NaN
                      9 NaN 0 NaN  NaN     NaN
                    3 0 NaN 2 2.0  1.0     NaN

In [16]:
import csv

filename = 'ch02-data.tab'

data = []
try:
    with open(filename) as f:
        reader = csv.reader(f, dialect=csv.excel_tab)
        header = reader.next()
        data = [row for row in header]
except csv.Error as e:
    print(e)
    sys.exit(-1)
    
if header:
    print(header)
    print('==============')
    
for datarow in data:
    print(datarow)

AttributeError: '_csv.reader' object has no attribute 'next'

In [7]:
print(data.shape)

(7, 3)

In [40]:
data = pd.read_csv('ch02-fixed-width-1M.data', delimiter=' ',
                  names=['col1', 'col2', 'col3'])
print data.head()

        col1           col2  col3
0  161322597   386544351896    42
1  296411327  6945080785634  2301
2  164726383  4090941067228  5553
3  575768002  4862349192103  5643
4  483535208  6007251611732  4649

In [53]:
import requests
from pprint import pprint
url = 'https://api.github.com/users/justglowing'
r = requests.get(url)
json_obj = r.json()
pprint(json_obj)

{u'avatar_url': u'https://avatars.githubusercontent.com/u/4929177?v=3',
 u'bio': None,
 u'blog': u'http://glowingpython.blogspot.com/',
 u'company': u'Cambridge Energy Data Lab',
 u'created_at': u'2013-07-03T10:07:22Z',
 u'email': u'',
 u'events_url': u'https://api.github.com/users/JustGlowing/events{/privacy}',
 u'followers': 7,
 u'followers_url': u'https://api.github.com/users/JustGlowing/followers',
 u'following': 1,
 u'following_url': u'https://api.github.com/users/JustGlowing/following{/other_user}',
 u'gists_url': u'https://api.github.com/users/JustGlowing/gists{/gist_id}',
 u'gravatar_id': u'',
 u'hireable': False,
 u'html_url': u'https://github.com/JustGlowing',
 u'id': 4929177,
 u'location': u'Cambridge, Uk',
 u'login': u'JustGlowing',
 u'name': u'',
 u'organizations_url': u'https://api.github.com/users/JustGlowing/orgs',
 u'public_gists': 1,
 u'public_repos': 5,
 u'received_events_url': u'https://api.github.com/users/JustGlowing/received_events',
 u'repos_url': u'https://api.github.com/users/JustGlowing/repos',
 u'site_admin': False,
 u'starred_url': u'https://api.github.com/users/JustGlowing/starred{/owner}{/repo}',
 u'subscriptions_url': u'https://api.github.com/users/JustGlowing/subscriptions',
 u'type': u'User',
 u'updated_at': u'2015-04-27T11:03:31Z',
 u'url': u'https://api.github.com/users/JustGlowing'}

/Users/jay/Documents/CEDL/pyenv/lib/python2.7/site-packages/requests/packages/urllib3/util/ssl_.py:79: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. For more information, see https://urllib3.readthedocs.org/en/latest/security.html#insecureplatformwarning.
  InsecurePlatformWarning

In [54]:
json_obj['location']

u'Cambridge, Uk'