## 4. Logistic Regression

In [19]:
import pandas as pd


dataset = pd.read_csv("LogisticRegressionData.csv")
dataset.head()

   hour  pass
0   0.5     0
1   1.2     0
2   1.8     0
3   2.4     0
4   2.6     0

In [255]:
import re


def solution(n, arr1, arr2):
    answer = []
    
    for num in range(n):
        (map := str(int(format(arr1[num], "b")) + int(format(arr2[num], "b"))))
        if len(map) < n:
            map = "0"*(n-len(map)) + map
        map = re.sub("0", " ", map)
        map = re.sub("[1-2]", "#", map)
        answer.append(map)
    return answer

# solution(5, [9, 20, 28, 18, 11], [30, 1, 21, 17, 28])
solution(6, [46, 33, 33 ,22, 31, 50], [27 ,56, 19, 14, 14, 10])

['######', '###  #', '##  ##', ' #### ', ' #####', '### # ']

In [225]:
b = [bin(a)[2:] for a in [9, 20, 28, 18, 11]]
len(b[0])

4

In [247]:
bin(30)

'0b11110'

In [239]:
a = ['1001','11110']
a = re.sub("0", " ", a)
a = re.sub("1", "#", a)
a

'#### '

In [189]:
50*50

2500

In [ ]:
ã…‡