### 7-2．머신러닝을 위한 데이터의 준비
#### 전 기사의 형태소 분석

In [1]:
# konlpy의 인스톨
!pip install konlpy

Collecting konlpy
  Using cached konlpy-0.5.2-py2.py3-none-any.whl (19.4 MB)
Collecting JPype1>=0.7.0
  Using cached JPype1-0.7.2-cp37-cp37m-win_amd64.whl (1.3 MB)
Collecting beautifulsoup4==4.6.0
  Using cached beautifulsoup4-4.6.0-py3-none-any.whl (86 kB)
Collecting tweepy>=3.7.0
  Using cached tweepy-3.8.0-py2.py3-none-any.whl (28 kB)
Requirement already satisfied: numpy>=1.6 in e:\anaconda3\envs\pbook_appx\lib\site-packages (from konlpy) (1.18.1)
Collecting lxml>=4.1.0
  Using cached lxml-4.5.0-cp37-cp37m-win_amd64.whl (3.7 MB)
Requirement already satisfied: colorama in e:\anaconda3\envs\pbook_appx\lib\site-packages (from konlpy) (0.4.3)
Requirement already satisfied: requests>=2.11.1 in e:\anaconda3\envs\pbook_appx\lib\site-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in e:\anaconda3\envs\pbook_appx\lib\site-packages (from tweepy>=3.7.0->konlpy) (1.14.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in e:\anaconda3\envs\pbook_appx\lib\site-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: PySocks>=1.5.7 in e:\anaconda3\envs\pbook_appx\lib\site-packages (from tweepy>=3.7.0->konlpy) (1.7.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in e:\anaconda3\envs\pbook_appx\lib\site-packages (from requests>=2.11.1->tweepy>=3.7.0->konlpy) (1.25.8)
Requirement already satisfied: idna<3,>=2.5 in e:\anaconda3\envs\pbook_appx\lib\site-packages (from requests>=2.11.1->tweepy>=3.7.0->konlpy) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in e:\anaconda3\envs\pbook_appx\lib\site-packages (from requests>=2.11.1->tweepy>=3.7.0->konlpy) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in e:\anaconda3\envs\pbook_appx\lib\site-packages (from requests>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in e:\anaconda3\envs\pbook_appx\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.0)
Installing collected packages: JPype1, beautifulsoup4, tweepy, lxml, konlpy
Successfully installed JPype1-0.7.2 beautifulsoup4-4.6.0 konlpy-0.5.2 lxml-4.5.0 tweepy-3.8.0

In [2]:
# nltk의 인스톨
!pip install nltk

Processing c:\users\fshare\appdata\local\pip\cache\wheels\45\6c\46\a1865e7ba706b3817f5d1b2ff7ce8996aabdd0d03d47ba0266\nltk-3.5-py3-none-any.whl
Requirement already satisfied: joblib in e:\anaconda3\envs\pbook_appx\lib\site-packages (from nltk) (0.14.1)
Requirement already satisfied: click in e:\anaconda3\envs\pbook_appx\lib\site-packages (from nltk) (7.1.1)
Collecting tqdm
  Using cached tqdm-4.45.0-py2.py3-none-any.whl (60 kB)
Collecting regex
  Using cached regex-2020.4.4-cp37-cp37m-win_amd64.whl (271 kB)
Installing collected packages: tqdm, regex, nltk
Successfully installed nltk-3.5 regex-2020.4.4 tqdm-4.45.0

In [3]:
from konlpy.tag import Okt
okt = Okt()

In [4]:
import os
import re
from konlpy.tag import Okt
okt = Okt()

# 기사 폴더를 지정
dirs = ['it-life-hack', 'movie-enter']

# 단어와 레이블을 보존하는 리스트를 생성
docterm = []     # 설명변수
label = []       # 목적변수
tmp1 = []
tmp2 = ''

# 각 폴더의 파일을 하나씩 읽어와서 표시
for i, d in enumerate(dirs):
    # 파일을 취득
    files = os.listdir('./data/' + d)

    # 파일을 오픈해서 내용을 취득
    for file in files:
        f = open('./data/' + d + '/' + file, 'r', encoding='utf-8')
        text = f.read()

        # 정규표현에서 불필요한 문자열을 제거해서 표시
        reg_text = re.sub(r'[0-9a-zA-Z]+', '', text)
        reg_text = re.sub(r'[:;/+\.-]', '', reg_text)
        reg_text = re.sub(r'[\s\n]', '', reg_text)

        # 명사로 필터링된 형태소분석
        for token in okt.nouns(reg_text):
            tmp1.append(token)
            tmp2 = ' '.join(tmp1)
        # 기사별로 단어를 보존
        docterm.append(tmp2)
        tmp1 = []

        # 기사별로 레이블을 붙여서 보존
        label.append(i)
        # 파일을 클로즈
        f.close()

In [5]:
import pandas as pd

# 기사별로 포함된 단어를 확인
pd.DataFrame(docterm).head()

                                                   0
0  구형 금단 파워 업 최신 소프트웨어 번 체크 플래시백 텔레비전 이나 계 프로세서 전...
1  애플 개발자 미리보기 출시 차기 애플 년월 일 미국 캘리포니아주 쿠퍼티노 현지 시간...
2  서비스 종료 후 전자책 디지털 통 컴퓨터 엔터테인먼트 휴대 용게 임기 전달 만화 콘...
3  웹페이지 이미지 통째 비결 이득 치트 시트 회사 소개 웹페이지 이미지 블로그 페이지...
4  레노버 프로 골퍼 사이토 선수 공식 후원 계약 체결 레노보 재팬 년월 프로 골퍼 사...

In [6]:
# 첫번째 가사의 단어를 확인
print(docterm[0])

구형 금단 파워 업 최신 소프트웨어 번 체크 플래시백 텔레비전 이나 계 프로세서 전환 등 등장 구형 금단 파워 업 방법 최신 화제 보안 소프트웨어 번 소개 인텔 장착 구형 얼마나 것 위 인텔 최신 시리즈 를 출시 현재 최고 성능 자랑 제품 구형 고속 도모 점 리뷰 조금 리뷰 정도 효과 대가 인텔 등 전환 하이브리드 만이 동시 초기 비용 업데이트 비용 무료 저스트 시스템 도마뱀 로그 인상 보안 소프트웨어 현재 사용자 보안 프로그램 도입 대부분 매년 정도 업데이트 비용 절차 대해 불만 가지 유료 소프트웨어 이용 사용자 의약 무료 보안 소프트웨어 불구 성능 면 뒤 불안 도입 상황 텔레비전 활용 방법 제안 의봄 신상 계 년월 일 데스크톱 시리즈 종류 모델 월일 판매 고 발표 상품 더 녹화 기능 외 시청 녹화 기능 업계 최초 인기 계 트 위트 플러스 를 추가 등 컴퓨터 기능 탑재 스마트폰 홈 네트워크 대응 안심 간단 쾌적 디지털 엔터테인먼트 제안 모델 대해 다음 기능 강화 실시 마치 축제 출하 렛츠 노트 출하 월일 발매 의 출하 이월 국내 거점 고베 공장 사의 컴퓨터 처음 실시 출하 제품 얼마나 힘 엡손 정품 잉크 잉크 카트리지 색 세트 엡손 출판사 입 소문

In [7]:
# 기사의 레이블을 확인
print(label)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

단어문서행렬의 작성

In [8]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

# 단어의 출현회수를 카운트
cv = CountVectorizer()
docterm_cv = cv.fit_transform(np.array(docterm))
docterm_cnt = docterm_cv.toarray()

# 데이터 프레임 형식으로 선두5행까지 표시
pd.DataFrame(docterm_cnt).head()

,0,1,2,3,4,5,6,7,8,9,...,11125,11126,11127,11128,11129,11130,11131,11132,11133,11134
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# 데이터 사이즈를 확인
print(pd.DataFrame(docterm_cnt).shape)
# ID가 선두에서 50번까지인 단어를 표시
print(cv.get_feature_names()[0:50])

(400, 11135)
['가가', '가가호호', '가각본', '가감', '가게', '가격', '가계', '가고시마', '가곡면', '가공', '가과', '가굉장', '가교', '가구', '가군', '가그에', '가극', '가극장', '가기', '가까이', '가끔', '가나', '가나가와현', '가나타', '가내', '가년', '가능', '가능성', '가다해', '가담', '가대', '가도', '가동', '가두', '가드', '가득', '가든', '가디스', '가라', '가라데', '가라오케', '가라테', '가랑이', '가량', '가렛', '가로', '가로막', '가로세로', '가로축', '가르시아']

In [10]:
# 연습문제 3
wcnt = []

# 단어 출현수를 카운트
docterm_wcnt = np.sum(a=docterm_cnt, axis=0)
# 단어와 그 출현수를 하나씩 취득
for w, cnt in zip(cv.get_feature_names(), docterm_wcnt):
    wcnt.append([w, cnt])

# 데이터 프레임으로 변환하고 내림차순으로 소트
wcnt_df = pd.DataFrame(wcnt)
wcnt_df = wcnt_df.sort_values(1, ascending=False)
wcnt_df.head()

       0    1
6393  영화  746
4398  사람  612
4674  생각  610
7830  작품  578
2408  때문  409

In [11]:
# 단어의 출현회수를 카운트
cv = CountVectorizer(min_df=0.01, max_df=0.5)
docterm_cv = cv.fit_transform(np.array(docterm))
docterm_cnt = docterm_cv.toarray()

# 데이터 프레임 형식으로 선두 5행을 표시
pd.DataFrame(docterm_cnt).head()

,0,1,2,3,4,5,6,7,8,9,...,3209,3210,3211,3212,3213,3214,3215,3216,3217,3218
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [12]:
# 데이터 사이즈를 확인
print(pd.DataFrame(docterm_cnt).shape)
# ID가 선두에서 50번까지인 단어를 표시
print(cv.get_feature_names()[0:50])

(400, 3219)
['가가', '가게', '가격', '가공', '가기', '가까이', '가끔', '가나', '가년', '가능', '가능성', '가담', '가도', '가득', '가라데', '가로', '가로막', '가면', '가면라이더', '가모', '가발', '가방', '가브리엘', '가사', '가상', '가속', '가수', '가슴', '가시', '가신', '가약', '가연', '가온', '가요', '가운데', '가위', '가을', '가의', '가이드', '가일', '가입', '가장', '가전', '가정', '가족', '가주', '가지', '가집', '가짜', '가차']

In [13]:
# 연습문제 3
wcnt = []

# 단어 출현회수를 카운트
docterm_wcnt = np.sum(a=docterm_cnt, axis=0)
# 단어와 그 출현회수를 하나씩 취득
for w, cnt in zip(cv.get_feature_names(), docterm_wcnt):
    wcnt.append([w, cnt])

# 데이터 프레임으로 변환하고 내림차순으로 소트
wcnt_df = pd.DataFrame(wcnt)
wcnt_df = wcnt_df.sort_values(1, ascending=False)
wcnt_df.head()

       0    1
1867  영화  746
1357  생각  610
2288  작품  578
723   때문  409
1291  사용  375

TF-IDF에 의한 가중치 설정

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

# 단어의 TF-IDF를 계산
tv = TfidfVectorizer(min_df=0.01, max_df=0.5, sublinear_tf=True)
docterm_tv = tv.fit_transform(np.array(docterm))
docterm_tfidf = docterm_tv.toarray()

# 데이터 프레임 형식으로 선두 5행을 표시
pd.DataFrame(docterm_tfidf).head()

,0,1,2,3,4,5,6,7,8,9,...,3209,3210,3211,3212,3213,3214,3215,3216,3217,3218
0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.050981,0.0,0.0,0.0,0.0,0.0,0.095754,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.090289,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# 데이터 사이즈를 확인
print(pd.DataFrame(docterm_cnt).shape)
# ID가 선두에서 50번까지인 단어를 표시
print(cv.get_feature_names()[0:50])

(400, 3219)
['가가', '가게', '가격', '가공', '가기', '가까이', '가끔', '가나', '가년', '가능', '가능성', '가담', '가도', '가득', '가라데', '가로', '가로막', '가면', '가면라이더', '가모', '가발', '가방', '가브리엘', '가사', '가상', '가속', '가수', '가슴', '가시', '가신', '가약', '가연', '가온', '가요', '가운데', '가위', '가을', '가의', '가이드', '가일', '가입', '가장', '가전', '가정', '가족', '가주', '가지', '가집', '가짜', '가차']