In [13]:
import numpy as np
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import matplotlib.pyplot as plt
%matplotlib inline
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/HumanRevolution/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [14]:
# python3 -m pip install --upgrade pandas pip

In [15]:
df = pd.read_pickle('data/raw_sample.pkl')
df.head()

,Close,Adj Close,headline.main
2007-01-01,12469.971875,12469.971875,Estimates of Iraqi Civilian Deaths Romania and...
2007-01-02,12472.245703,12472.245703,"For Dodd, Wall Street Looms Large Ford's Lost ..."
2007-01-03,12474.519531,12474.519531,"Ethics Changes Proposed for House Trips, K Str..."
2007-01-04,12480.690430,12480.690430,I Feel Bad About My Face Bush Recycles the Tra...
2007-01-05,12398.009766,12398.009766,Macworld Bingo Anti-Surge Protests Against McC...

In [16]:
df.rename(columns={0:'headline.main'}, inplace=True)
df.head()

,Close,Adj Close,headline.main
2007-01-01,12469.971875,12469.971875,Estimates of Iraqi Civilian Deaths Romania and...
2007-01-02,12472.245703,12472.245703,"For Dodd, Wall Street Looms Large Ford's Lost ..."
2007-01-03,12474.519531,12474.519531,"Ethics Changes Proposed for House Trips, K Str..."
2007-01-04,12480.690430,12480.690430,I Feel Bad About My Face Bush Recycles the Tra...
2007-01-05,12398.009766,12398.009766,Macworld Bingo Anti-Surge Protests Against McC...

In [17]:
df.tail()

,Close,Adj Close,headline.main
2016-12-27,19945.039063,19945.039063,Should the U.S. Embassy Be Moved From Tel Aviv...
2016-12-28,19833.679688,19833.679688,"When Finding the Right Lawyer Seems Daunting, ..."
2016-12-29,19819.779297,19819.779297,Does Empathy Guide or Hinder Moral Action? Chi...
2016-12-30,19819.779297,19819.779297,Shielding Seized Assets From Corruption’s Clut...
2016-12-31,19819.779297,19819.779297,Terrorist Attack at Nightclub in Istanbul Kill...

In [5]:
df.shape

(3651, 3)

In [6]:
sent = SentimentIntensityAnalyzer()

In [7]:
sent_head = df['headline.main'].apply(lambda x: sent.polarity_scores(x)) 
# 입력 된 텍스트를 기반으로 감정의 강도 float를 돌려줍니다. 양수 값은 양수이고 음수 값은 음수입니다.
sent_head = pd.DataFrame.from_records(sent_head.values, index=sent_head.index)
sent_head.head()

              neg    neu    pos  compound
2007-01-01  0.160  0.738  0.102   -0.9851
2007-01-02  0.130  0.772  0.098   -0.9851
2007-01-03  0.196  0.747  0.057   -0.9995
2007-01-04  0.113  0.827  0.060   -0.9973
2007-01-05  0.082  0.829  0.089    0.9726

In [8]:
sent_head.shape

(3651, 4)

In [9]:
df = df.join(sent_head, how='left')
df.head()

,Close,Adj Close,headline.main,neg,neu,pos,compound
2007-01-01,12469.971875,12469.971875,Estimates of Iraqi Civilian Deaths Romania and...,0.160,0.738,0.102,-0.9851
2007-01-02,12472.245703,12472.245703,"For Dodd, Wall Street Looms Large Ford's Lost ...",0.130,0.772,0.098,-0.9851
2007-01-03,12474.519531,12474.519531,"Ethics Changes Proposed for House Trips, K Str...",0.196,0.747,0.057,-0.9995
2007-01-04,12480.690430,12480.690430,I Feel Bad About My Face Bush Recycles the Tra...,0.113,0.827,0.060,-0.9973
2007-01-05,12398.009766,12398.009766,Macworld Bingo Anti-Surge Protests Against McC...,0.082,0.829,0.089,0.9726

In [10]:
df.shape

(3651, 7)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3651 entries, 2007-01-01 to 2016-12-31
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Close          3651 non-null   float64
 1   Adj Close      3651 non-null   float64
 2   headline.main  3651 non-null   object
 3   neg            3651 non-null   float64
 4   neu            3651 non-null   float64
 5   pos            3651 non-null   float64
 6   compound       3651 non-null   float64
dtypes: float64(6), object(1)
memory usage: 388.2+ KB

In [12]:
col = ['Adj Close', 'compound', 'neg', 'neu', 'pos']
new_names = ['prices', 'compound', 'neg', 'neu', 'pos']
df = df[col]
df.columns = new_names
df.prices = df.prices.astype('int')
df.head()

            prices  compound    neg    neu    pos
2007-01-01   12469   -0.9851  0.160  0.738  0.102
2007-01-02   12472   -0.9851  0.130  0.772  0.098
2007-01-03   12474   -0.9995  0.196  0.747  0.057
2007-01-04   12480   -0.9973  0.113  0.827  0.060
2007-01-05   12398    0.9726  0.082  0.829  0.089

In [ ]:
df.to_pickle('data/train_set.pkl')